body {
    /*background: url(https://cdn.pixabay.com/photo/2017/08/24/03/41/starry-sky-2675322_960_720.jpg);*/
    background-color: beige;
    /*background-attachment: fixed;*/
    box-shadow: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    min-width: 320px;
    max-width:800px ;
    margin: auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*joga um para o lado, e o outro, para o outro lado*/
    background-color: burlywood;
    padding: 1em; /*para não ficar encostado nas margens*/
}
form {
    border: 1px solid whitesmoke;
    border-radius: 0.2em;
    padding: 0.3em;
}
    
form input, form button {
font-size: 0.9em;
border-radius: 0.2em;
border: none;
padding: 0.2em;
cursor: pointer;
background:white ; /*cor de fundo do botão input search*/
color: black; /*Cor da letra do botão buscar*/
min-width: 320;
max-width: 800;
}
img#fotoipaba {
    width: 60%;
    height: 60%;
}
img#fotopng {
width: 100px;
height: 100px;
}

