body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*joga um para o lado, e o outro, para o outro lado*/
    background-color: blue;
    padding: 1em; /*para não ficar encostado nas margens*/
}
form {
    border: 1px solid whitesmoke;
    border-radius: 0.3em;
    padding: 0.3em;
}
form input, form button {
font-size: 1.2em;
border-radius: 0.2em;
border: none;
padding: 0.2em;
cursor: pointer;
background:white ; /*cor de fundo do botão input search*/
color: black; /*Cor da letra do botão buscar*/
}
img#fotoipaba {
    width: 500px;
    height: 305px;
}
img#fotopng {
width: 100px;
height: 100px;
}
