body {
    background: whitesmoke;
    height: auto;
    width: auto;
}
div {
    text-align: justify
}
nav {
    background: blue;
    font: normal 16pt Arial;
    color: white;
    text-align: center;
}
img {
    width: 300px;
    height: 240px;
}
img#fotopng {
    width: 55px;
    height: 50px;
}
img#tiktokpng {
    width: 55px;
    height: 50px;
}

